@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  width: 100%;
  margin: 0px;
}

button {
  @apply py-1 px-4 bg-blue rounded-md text-white shadow-md shadow-black/40;
}

label {
  @apply text-blue font-semibold tracking-wide;
}

input {
  accent-color: @apply text-blue;
  @apply border-b-2 rounded-md;
}

.link {
  @apply bg-white rounded-md text-center py-1 px-4
}

input:focus-visible {
  outline-offset: 0px;
  outline-color: blue;
  outline-style: solid;
  outline-width: 1px;
}
