.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 90vh;
  background-color: whitesmoke;
}

.left {
  color: black;
  width: 100%;
  border:2px black solid;
}

.right {
  color: black;
  width: 100%;
  border:2px black solid;
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 6rem;
  }
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }
}
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }


